.DS_Store
node_modules
/build
/.svelte-kit
/package
project.inlang/cache
project.inlang/project_id
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.cloudflare
result
package-lock.json
