@import 'tailwindcss';
@plugin "daisyui";

/* Remove default summary marker/arrow */
summary {
	list-style: none;
}
summary::-webkit-details-marker {
	display: none;
}
summary::marker {
	display: none;
}
